.show__item{
    margin-bottom: 25px;
}
.show__item .card-body{
    background-color: var(--primary-color);
    color: #fff;
}
.show__item .card-body .show__title_wrapper{
    border-bottom: 1px dotted #013faa;
    padding-top: 20px;
    padding-bottom: 30px;
}
.show__item .card-title{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

@media only screen and (max-width:575px){
    .show__item{
        margin-bottom: 50px;
    }
}