
.banner__img{
    max-height: 700px;
    object-fit: cover;
}
.banner__caption{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(10, 30, 94, 0.4);
    color: #fff;
}
.banner__title{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
}
.banner__subtitle{
    font-size: 22px;
    font-weight: 400;
    opacity: 0.7;
}

@media only screen and (max-width:767px){
    .banner__caption{
        padding-top: 80px;
    }
    .banner__title{
        max-width: 300px;
        font-size: 50px;
        line-height: 50px;
    }
    .banner__subtitle{
        font-size: 20px;
    }
}

@media only screen and (max-width:575px){
    .banner__title{
        max-width: 100%;
        font-size: 30px;
        line-height: 30px;
    }
    .banner__subtitle{
        font-size: 18px;
    }
}

@media only screen and (max-width:330px){
    .banner__title{
        font-size: 25px;
        line-height: 22px;
    }
    .banner__subtitle{
        font-size: 16px;
    }
}