.shows__header{
    padding-bottom: 10px;
    border-bottom: 1px solid #31B26B;
}

.shows__header h2{
    color: #fff;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    
}
.shows__header a{
    text-decoration: none;
    color: #31B26B;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (max-width:575px){
    .shows__section {
        padding-top: 50px;
      }
    .shows__header h2{
        font-size: 25px;
    }
    .shows__header a{
        font-size: 18px;
    }
}